{  "env": {
  "node": true
},
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "before": true
  },
  "extends": ["standard"]}
