{  "env": {
  "node": true
},
  "globals": {
    "d3": true,
    "$": true,
    "chrome": true,
    "CSSSelector": true,
    "jQuery": true,
    "Base64": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "before": true
  },
  "extends": ["standard"]}
